@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hubot Sans";
    src: url("/fonts/HubotSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }